@import "compass/reset";
@import "compass/css3";


.c_info
	{
		width: 70%;
		height: 145px;
		color: #ffffff;
		font-size: 14px;
		margin-bottom: 13px;
	}

.m_area
	{
		width: 358px;
		height: 145px;
		font-size: 14px;
		padding: 3px;
		outline: none;

	}
.maci
	{
		width: 728px;
		height: 414px;
		top: 0em;
		left: 0em;
	}
.bu_b_img
	{
		margin-top: 2em;
		margin-left: 13em;
	}