/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";


.middle
	{
		width: 100%;
		height: 483px;
	}
.left_middle
	{
		width: 323px;
		height: 100%;
	}
.news
	{
		margin-top: -39px;
		position: relative;
	}
.shadow
	{
		width: 313px;
		height: 465px;
		margin-top: 12px;
		padding-top: 4px;
		padding-left: 7px;
		@include background (linear-gradient(top, #292929, #030303));
		@include single-box-shadow(#656565, 2px, 2px, 2px, false, false)
	}
.news_top
	{
		width: 300px;
		
	}
.news_box
	{
		width: 100%;
		height: 84px;
		padding-left: 6px;
		padding-top: 3px;
		margin-top: 4px;
		@include background (linear-gradient(top, #020202, #434343));
	}
.news_w
	{
		width: 179px;
		height: 77px;
		padding-left: 5px;
		color: #ffffff;
		line-height: 19px;
		font-size: 12px;

	}
.n_w_r
	{
		color: #c4090b;
	}
.news_down
	{
		width: 306px;
		height: 194px;
		padding-top: 2px;
	}
.news_list
	{
		width: 100%;
		height: 19px;
		padding-top: 7px;
		color: #ffffff;
		font-size: 12px;
	}
.n_l_solid
	{
		border-bottom: 1px solid #252525;
	}
.icon
	{
		margin-right: 4px;
		margin-top: 2px;
	}
.news_l_w:hover
	{
		color: #c4090b;
	}



.right_middle
	{
		width: 657px;
		height: 483px;
		margin-left: 5px;
		background-color: #000000;
	}
.top_right
	{	
		width: 640px;
		height: 148px;
		margin-left: 13px;
		margin-top: 14px;
		background-color: #333333;
	}
.login_box
	{
		width: 210px;
		height: 95%;
		padding-top: 7px;
		margin-left: -2px;
	}
.input
	{
		width: 210px;
		height: 25px;
		border: none;
		background-color: #121212;
		border-bottom: 1px solid #575757;
		color: #787878;
		margin-top: 13px;
		padding-left: 3px;
		outline: none;
	}
.line
	{
		width: 100%;
		height: 2px;
		margin-top: 9px;
		margin-bottom: 8px;
		background: #121212;
		@include single-box-shadow(#575757, 0px, 2px, 0px, false, false)
	}
.member
	{
		width: 100%;
		height: 26px;
	}
.font
	{
		color: #ffffff;
		font-size: 12px;
		padding-right: 7px;
		margin-top: 8px;

	}
.border
	{
		border-left: 1px solid #ffffff;
		padding-left: 7px;
	}
.button_login
	{
		width: 82px;
		height: 26px;
		border: none;
		background-image: url(../images/login_img.png);
		outline: none;
		margin-left: 10px;
	}
.thank
	{
		width: 265px;
		height: 126px;
		margin-left: 19px;
		margin-top: 13px;
	}
.thank_box
	{
		width: 100%;
		height: 18px;
		color: #ffffff;
		font-size: 10px;
		padding-top: 6px;
	}
.dashed
	{
		border-bottom: 1px dashed #161616;
	}
.time
	{
		width: 54px;
		margin-right: 15px;
		letter-spacing: -1px;
	}
.text_thank
	{
		margin-right: 13px;
		width: 25px;
	}
.name_thank
	{
		margin-right: 19px;
	}
.down_right
	{
		width: 640px;
		height: 302px;
		margin-left: 13px;
	}
.event_title
	{
		margin-top: 12px;
		width: 100%;
		height: 24px;
		border-bottom: 1px solid #c4090b;
		
	}

table,th,td
	{ 
	 	border: 3px solid black;
	 	text-align:center;
	}
.event
	{
		margin-top: 11px;
		width: 640px;
		height: 273px;
		color: #ffffff;
		font-size: 13px;
	}
.th
	{
		background-color: #454545;
		border-bottom: 6px solid black;
		height: 44px;
		
	}
.th_a
	{
		font-weight: 900;
		font-size: 14px;
	}
.tr
	{
		background-color: #333333;
	}
.table_s
	{
		@include single-box-shadow(#292929, 1px, 1px, 0px, false, false);
	}
.color_login
	{
		color: #d78607;
	}
.color_see
	{
		color: #cbd216;
	}
.color_nu
	{
		color: #59e216;
	}
.color_win
	{
		color: #caf90e;
	}
.color_safe
	{
		color: #28b7af;
	}
.color_loss
	{
		color: #f30a0a;
	}


/**/











