@import "compass/reset";
@import "compass/css3";

.shadow
	{
		height: 489px;
		margin-left: 10px;
	}
.member_in
	{
		color: #fef3f3;
		font-size: 12px;
		height: 20px;
		margin-top: 25px;
		margin-bottom: 28px;
		letter-spacing: 1.5px;
	}
.member_blue
	{
		color: #0090ff;
	}
.p_t_s_box
	{
		width: 410px;
		height: 378px;
	}
.p_t_s
	{
		color: #fefefe;
		width: 100%;
		font-size: 12px;
		border: 1px solid #d7e6ed;
		margin-left:auto; 
		margin-right:auto;
	}
th
	{
		background-color: #3b3b3b;
		color: #f3ad17;
		height: 48px;
	}
td
	{
		border: 1px solid #6996af;
		height: 46px;
		background-color: #005484;
	}
table, td, th
	{

		text-align: center;
	}
.member_red
	{
		color: #ff0000;
	}
.member_notice
	{
		color: #d6b7b7;
		margin-left: 29em;
		font-size: 10px;
	}
.member_p
	{
		width: 403px;
		height: 34px;
		margin-top: 1em;
		margin-left: 6em;
	}
.pages
	{
		margin-top: 0px;
		margin-left: 0em;
	}
.next_page
	{
		margin-top: 0px;
	}

	/*05_5*/

.nba
	{
		width: 331px;
		height: 474px;
		top: 3em;
		left: 28em;
		position: absolute;
	}


















