/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";


.middle
	{
		width: 100%;
		height: 723px;
	}
.left_middle
	{
		width: 742px;
		height: 100%;
	}
.news
	{
		margin-top: -39px;
		width: 980px;
		position: relative;
	}
.home_link
	{
		float: right;
		margin-top: 5px;
		font-size: 12px;
		color: #ffffff;
	}
.link_a:visited {color:#fef3f3}
.link_a:link {color:#fef3f3}
.link_a:active {color:#fef3f3}
.link_a:hover {color:#fef3f3}
.link_a
	{
		margin-left: 3px;
		margin-right: 3px;
	}

.news_top
	{
		width: 100%;
		
	}
.news_box
	{
		width: 100%;
		height: 108px;
		margin-top: 17px;
	}
.news_w
	{
		width: 78.6%;
		height: 100%;
		padding-left: 10px;
		color: #ffffff;
		line-height: 18px;
		font-size: 12px;

	}
.n_w_r
	{
		color: #c4090b;
		font-size: 14px;
		margin-bottom: 14px;
	}
.green
	{
		color: #84d511;
		margin-left: 20em;
	}
.text
	{
		height: 68px;
		width: 100%;
		letter-spacing: -0.1px;
	}
.news_down
	{
		width: 306px;
		height: 194px;
		padding-top: 2px;
	}
.news_list
	{
		width: 100%;
		height: 19px;
		padding-top: 7px;
		color: #ffffff;
		font-size: 12px;
	}
.n_l_solid
	{
		border-bottom: 1px solid #252525;
	}
.icon
	{
		margin-right: 4px;
		margin-top: 2px;
	}
.news_l_w:hover
	{
		color: #c4090b;
	}
.next_page
	{
		background: none;
		border: none;
		width: 120px;
		height: 17px;
		outline: none;
		float: right;
		margin-top: 43px;
		cursor: pointer;
	}
/*換頁頁碼樣式*/
.pages
	{
		margin-left: 330px;
		color: #f51619;
		font-size: 12px;
		margin-top: 48px;
		letter-spacing: 4px;
	}


/*右邊海報*/
.right_middle
	{
		width: 230px;
		padding-left: 9px;
		padding-top: 17px;
	}
.right_banner
	{	
		width: 230px;
		height: 353px;
		margin-top: 6px;
	}

/*news_1*/


.news_title
	{
		font-size: 14px;
		width: 100%;
		height: 20px;
		margin-bottom: 30px;
	}
.news_title_a
	{
		color: #c4090b;
		width: 80%;
		margin-top: 3px;
	}
.news_title_b
	{
		color: #84d511;
		width: 20%;
		font-size: 12px;
		padding-top: 4px;
	}
.news_intext
	{
		width: 97%;
		height: 310px;
		margin-top: 20px;
		font-size: 12px;
		color: #ffffff;
		line-height: 18px;
		letter-spacing: 1px;
	}
.go_back
	{
		margin-left: 50%;
		margin-right: 50%;
		font-size: 12px;
		color: #c4090b;
	}
.go_back:visited {color:#c4090b}
.go_back:link {color:#c4090b}
.go_back:active {color:#c4090b}
.go_back:hover {color:#c4090b}












