/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/comman.scss */
.m_l_a:visited {
  color: #ffffff;
}

/* line 14, ../sass/comman.scss */
.m_l_a:link {
  color: #ff0003;
}

/* line 15, ../sass/comman.scss */
.m_l_a:active {
  color: #ffffff;
}

/* line 16, ../sass/comman.scss */
.m_l_a:hover {
  text-decoration: underline;
  color: #ff0003;
}

/* line 19, ../sass/comman.scss */
.news {
  width: 785px;
  position: relative;
}

/* line 24, ../sass/comman.scss */
.left_middle {
  width: 182px;
  margin-left: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../images/profession_24.png);
  background-repeat: repeat-y;
  margin-top: 2.5em;
}

/* line 34, ../sass/comman.scss */
.menu_img {
  margin-top: -3em;
  position: absolute;
}

/* line 39, ../sass/comman.scss */
.m_box {
  margin-bottom: 16px;
  width: 100%;
}

/* line 44, ../sass/comman.scss */
.menu_link {
  color: #ffffff;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 49px;
  border-bottom: 1px dashed #a6a6a6;
}

/* line 53, ../sass/comman.scss */
.m_l_i {
  margin-left: 22px;
  margin-right: 6px;
}

/* line 58, ../sass/comman.scss */
.m_l_a {
  margin-top: 17px;
}

/* line 62, ../sass/comman.scss */
.b_b {
  margin-left: 3px;
  margin-top: 13px;
}

/* line 67, ../sass/comman.scss */
.right_middle {
  width: 783px;
  margin-left: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
