/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/member.scss */
.shadow {
  margin-top: 58px;
  margin-left: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 575px;
}

/* line 15, ../sass/member.scss */
.m_info {
  width: 70%;
  height: 41px;
  color: #ffffff;
  font-size: 14px;
}

/* line 22, ../sass/member.scss */
.m_info_a {
  width: 70%;
  height: 70px;
  color: #ffffff;
  font-size: 14px;
}

/* line 29, ../sass/member.scss */
.account {
  width: 78px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 5px solid #b81717;
  padding-top: 8px;
}

/* line 37, ../sass/member.scss */
.account_a {
  width: 78px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 8px;
}

/* line 44, ../sass/member.scss */
.m_text {
  height: 100%;
  padding-bottom: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 19px;
}

/* line 52, ../sass/member.scss */
.m_input {
  outline: none;
  width: 300px;
  font-size: 14px;
  padding-left: 3px;
  height: 28px;
}

/* line 60, ../sass/member.scss */
.m_input_a {
  outline: none;
  width: 147px;
  font-size: 14px;
  padding-left: 3px;
  height: 28px;
}

/* line 68, ../sass/member.scss */
.m_input_c {
  outline: none;
  width: 350px;
  font-size: 14px;
  padding-left: 3px;
  height: 28px;
}

/* line 76, ../sass/member.scss */
.change {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 54px;
  padding-left: 7px;
  font-size: 12px;
}

/* line 83, ../sass/member.scss */
.m_text_a {
  height: 70px;
  width: 192px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 23px;
}

/* line 90, ../sass/member.scss */
.pink {
  margin-top: 27px;
  height: 47px;
  width: 375px;
  color: #f5009c;
  line-height: 25px;
  font-size: 12px;
  margin-bottom: 66px;
}

/* line 100, ../sass/member.scss */
.bu_b_img {
  margin-left: 8em;
}

/* line 106, ../sass/member.scss */
.maci {
  position: absolute;
  width: 318px;
  height: 541px;
  top: 2em;
  right: 1em;
}

/*05_2*/
/* line 119, ../sass/member.scss */
.maci_img {
  margin-left: 4em;
  margin-bottom: 117px;
  width: 255px;
  height: 42px;
}

/* line 126, ../sass/member.scss */
.pink_a {
  margin-top: 27px;
  height: 47px;
  width: 375px;
  color: #f5009c;
  line-height: 25px;
  font-size: 12px;
  margin-bottom: 20px;
}

/* line 136, ../sass/member.scss */
.fin {
  margin-left: -10.5em;
  margin-top: 9.5em;
}

/*05_3*/
/* line 143, ../sass/member.scss */
.football {
  width: 501px;
  height: 267px;
  position: absolute;
  top: 3em;
  right: -1em;
}

/* line 151, ../sass/member.scss */
.m_in {
  color: #ffffff;
  font-size: 11px;
  margin-top: 2em;
  margin-left: 9em;
}

/* line 158, ../sass/member.scss */
.forget {
  border-right: 1px solid #ffffff;
  padding-right: 5px;
  margin-right: 5px;
}

/* line 164, ../sass/member.scss */
.fin_a {
  margin-left: 2em;
  margin-top: -0.6em;
  z-index: 1000;
  position: absolute;
}

/*05_4*/
/* line 172, ../sass/member.scss */
.fin_b {
  margin-left: 15em;
  margin-top: 2em;
  z-index: 1000;
  position: absolute;
}

/* line 179, ../sass/member.scss */
.po {
  position: absolute;
  z-index: 1000;
}
